@model JOERP.Business.Entity.Presentacion
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="msgModel1">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
    </div>
    <div class="tips mexito">
    </div>
</div>
<div class="MhiosysForm">
    @using (Html.BeginForm(ViewData["Accion"].ToString(), "Producto", new { area = "Logistica" }, FormMethod.Post, new { id = "frmModel2" }))
    {
        <fieldset class="fieldset-with-legend border-round">
            <legend class="border-shadow">Información de Presentación : </legend>
            <table border="0" cellpadding="0" cellspacing="0" class="tablelayout">
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.IdUnidadMedida)
                    </td> 
                    <td>
                        @Html.DropDownListFor(model => model.IdUnidadMedida, new SelectList(Model.TiposUnidad, "IdUnidadMedida", "Nombre", Model.IdUnidadMedida))
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Peso)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Peso)
                        @Html.ValidationMessageFor(model => model.Peso)
                    </td>
                </tr>
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Equivalencia)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Equivalencia)
                        @Html.ValidationMessageFor(model => model.Equivalencia)
                    </td>
                </tr>
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.EsBase)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EsBase)
                        @Html.ValidationMessageFor(model => model.EsBase)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.IdProducto)
                        @Html.HiddenFor(model => model.IdPresentacion)
                        @Html.HiddenFor(model => model.FechaCreacion)
                        @Html.HiddenFor(model => model.UsuarioCreacion)
                        @Html.HiddenFor(model => model.FechaModificacion)
                        @Html.HiddenFor(model => model.UsuarioModificacion)
                    </td>
                    <td colspan="3">
                        <br />
                        <input type="submit" value="Guardar" id="btnRegistrarP" class="buttonConstellation" />
                        <input type="button" value="Regresar" id="btnCancelP" onclick="CancelarPresentacion()"
                            class="buttonConstellation" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
<script type="text/javascript">
    var resetFrmPresentacion = false;

    $(document).ready(function () {

        $(".msgModel1 .tips").hide();
        $(".msgModel1 .merror, .msgModel1 .mexito, .msgModel1 .loading").css({ "border-top": "none" });
        $("#frmModel2 .merror").css({ "border-top": "none", "border-left": "none", "border-right": "none" });

        $('#btnRegistrarP').bind("click", function (e) {

            if (resetFrmPresentacion)
                $(".msgModel1 .tips").hide();

            if ($("#frmModel2").validate().form()) {
                InicializarMsgPresentacion();
                $.post($("#frmModel2").attr("action"), $("#frmModel2").serialize(), function (response) {
                    if (response.Success) {
                        $(".msgModel1 .loading").slideUp(200, function () {
                            $(".msgModel1 .mexito").html(response.Message);
                            JOERP.ShowElement(".msgModel1 .mexito");
                            resetFrmPresentacion = true;
                            $('#btnRegistrarP').hide();
                        });
                    } else {
                        $(".msgModel1 .loading").slideUp(200, function () {
                            $(".msgModel1 .merror").html(response.Message);
                            JOERP.ShowElement(".msgModel1 .merror");
                        });
                        resetFrmPresentacion = true;
                    }
                });
            }
            e.preventDefault();
        });
    });

    function InicializarMsgPresentacion() {

        if ($(".msgModel1 .merror").is(":visible")) {
            $(".msgModel1 .merror").slideUp(200, function () {
                JOERP.ShowElement(".msgModel1 .loading");
            });
        } else
            JOERP.ShowElement(".msgModel1 .loading");
    }

    function CancelarPresentacion() {
       
        var sgrid = $("#tablaPresentacion")[0];
        sgrid.clearToolbar();
        $('#tablaPresentacion').trigger('reloadGrid');
        $('#listadoPresentacion').show();
        $('#informacionPresentacion').hide();
        $('#btnLimpiarPresentacion').trigger('click');
    }

</script>