@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<input id="hfIdentificador" type="hidden" /><br />
<div id="listado" style="padding: 10px; height: 90%; min-height: 400px;">
    <table id="tabla">
    </table>
    <div id="barra">
    </div>
</div>
<div id="informacion" style="padding: 10px; display: none;">
</div>
<div id='dialog-alert' style="display: none">
</div>
<div id="infoDelete" style="display: none;">
</div>
<div id="dialog-delete" style="display: none;">
    Esta seguro de quitar el registro seleccionado?
</div>
<script type='text/javascript'>
    var grilla = 'tabla';

    $(document).ready(function () {
        Listar();
        CrearDialogs();

        $('#infoDelete').dialog("destroy");
        $('#infoDelete').dialog({
            width: 'auto',
            resizable: false,
            modal: true,
            autoOpen: false,
            open: function (type, data) { $(this).parent().appendTo("form"); },
            close: function () { }

        });
    });

    function Listar() {
        var colNames = ['ID', 'Código', 'Código Internacional', 'Nombre', 'Descripción', 'Tipo Producto'];
        var colModels = [
                { name: 'IdProducto', index: 'IdProducto', hidden: true, searchoptions: { sopt: ['eq']} },
                { name: 'Codigo', index: 'Codigo', align: 'center', width: 60, searchoptions: { sopt: ['cn', 'bw']} },
                { name: 'CodigoAlterno', index: 'CodigoAlterno', align: 'center', width: 80, searchoptions: { sopt: ['cn', 'bw']} },
                { name: 'Nombre', index: 'Nombre', align: 'center', width: 200, searchoptions: { sopt: ['cn', 'bw']} },
                { name: 'Descripcion', index: 'Descripcion', align: 'center', searchoptions: { sopt: ['cn', 'bw']} },
                { name: 'TipoProducto', index: 'TipoProducto', align: 'center', width: 80, stype: 'select', searchoptions: { dataUrl: '@Url.Action("GetTiposProductoHtml", "Producto", new { area = "Logistica" })'} }
        ];

        var opciones = { nuevo: true, editar: true, eliminar: true };

        JOERP.Grilla(grilla, 'barra', 'hfIdentificador', 'auto', 1000, 'Mantenedor de Producto', ' @Url.Action("Listar", "Producto", new { area = "Logistica" })', 'id', colNames, colModels, 'IdProducto', opciones);

        $("#" + grilla).filterToolbar({ searchOnEnter: true, stringResult: true, defaultSearch: "cn" });
    }

    function CrearDialogs() {
        var arrayDialog = [{ name: "dialog-alert", height: 100, width: 280, title: "Alerta"}];
        JOERP.CreateDialogs(arrayDialog);
    }

    function Nuevo() {
        var url = '@Url.Action("Crear", "Producto", new { area = "Logistica" })';
        JOERP.Operacion(url);
    }

    function Editar(rowkey) {
        var url = '@Url.Action("Modificar", "Producto", new { area = "Logistica" })' + '/' + rowkey;
        JOERP.Operacion(url);
    }

    function Eliminar(rowkey) {

        var url = '@Url.Action("Eliminar", "Producto")';
        var parametros = { id: rowkey };
        var resultado = JOERP.Ajax(url, parametros, false);

        if (resultado.Success) {
            $('#tabla').trigger('reloadGrid');
        } else {
            $("#infoDelete").html(resultado.Message);
            $('#infoDelete').dialog("open");
        }

        $('#dialog-delete').dialog("close");
    }
    
</script>
