@using JOERP.WebSite.Core.Extensiones
@model JOERP.Business.Entity.Tabla
@{
    ViewBag.Title = "Información de la Tabla";
}

<div class="msgModel">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
    </div>
    <div class="tips mexito">
    </div>
</div>
<div class="MhiosysForm">
    @using (Html.BeginForm(ViewData["Accion"].ToString(), "Tabla", new { area = "Administracion" }, FormMethod.Post, new { id = "frmModel" }))
    {
        ViewContext.FormContext.ValidationSummaryId = "valSumModel";
        Html.ValidationSummaryJQuery("Errores Encontrados", new Dictionary<string, object> { { "id", "valSumModel" }, { "class", "merror" } });

        <fieldset class="fieldset-with-legend border-round">
            <legend class="border-shadow">Información de la Tabla : </legend>
            <table border="0" cellpadding="0" cellspacing="0" class="tablelayout">
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Descripcion)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Descripcion)
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </td>
                </tr>
               
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Estado)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.Estado, new SelectList(Model.Estados, "Id", "Nombre", Model.Estado))
                        @Html.ValidationMessageFor(model => model.Estado)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.IdTabla)
                    </td>
                    <td colspan="3">
                        <br />
                        <input type="submit" value="Guardar" id="btnRegistrar" class="buttonConstellation" />
                        <input type="reset" value="Limpiar" id="btnReset" class="buttonConstellation" />
                        <input type="button" value="Regresar" id="btnCancel" onclick="Cancelar()" class="buttonConstellation" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
<script type="text/javascript">
    var resetFrm = false;
    $(document).ready(function () {
        $(".msgModel .tips").hide();
        $(".msgModel .merror, .msgModel .mexito, .msgModel .loading").css({ "border-top": "none" });
        $("#frmModel .merror").css({ "border-top": "none", "border-left": "none", "border-right": "none" });
        $('#btnRegistrar').bind("click", function (e) {
          

            if (resetFrm)
                $(".msgModel .tips").hide();

            if ($("#frmModel").validate().form()) {
                InicializarMsg();
                $.post($("#frmModel").attr("action"), $("#frmModel").serialize(), function (response) {
                    if (response.Success) {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .mexito").html(response.Message);
                            JOERP.ShowElement(".msgModel .mexito");
                            resetFrm = true;
                        });
                    } else {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .merror").html(response.Message);
                            JOERP.ShowElement(".msgModel .merror");
                        });
                        resetFrm = true;
                    }
                });
            }
            e.preventDefault();
        });
    });

    function InicializarMsg() {
        if ($(".msgModel .merror").is(":visible")) {
            $(".msgModel .merror").slideUp(200, function () {
                JOERP.ShowElement(".msgModel .loading");
            });
        } else
            JOERP.ShowElement(".msgModel .loading");
    }

    function Cancelar() {

        var sgrid = $("#tabla")[0];
        sgrid.clearToolbar();
        $('#tabla').trigger('reloadGrid');
        $('#listado').show();
        $('#informacion').hide();
    }

</script>