@model JOERP.Business.Entity.DTO.OrdenCompra
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="msgModel">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
    </div>
    <div class="tips mexito">
    </div>
</div>
<div class="MhiosysForm">
    @using (Html.BeginForm(ViewData["Accion"].ToString(), "OrdenCompra", new { area = "Logistica" }, FormMethod.Post, new { id = "frmModel" }))
    {
        <fieldset class="fieldset-with-legend border-round">
            <legend class="border-shadow">Información de la Orden de Compra : </legend>
            <table border="0" cellpadding="5" cellspacing="5">
                <tr>
                    <td>
                        <fieldset class="fieldset-with-legend border-round" style="margin: 10px;">
                            <legend class="border-shadow">Información Básica : </legend>
                            <table cellspacing="10" style="width: 98%">
                                <tr>
                                    <td class="right" style="width: 100px;">
                                        @Html.LabelFor(model => model.IdTipoDocumento)
                                    </td>
                                    <td style="width: 80px;">
                                        @Html.DropDownListFor(model => model.IdTipoDocumento, new SelectList(Model.Documentos, "Id", "Nombre", Model.IdTipoDocumento), new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.IdTipoDocumento)
                                    </td>
                                    <td class="right" style="width: 80px;">
                                        @Html.LabelFor(model => model.IdSerieDocumento)
                                    </td>
                                    <td style="width: 90px;">
                                        @Html.DropDownListFor(model => model.IdSerieDocumento, new List<SelectListItem>(), new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.IdSerieDocumento)
                                    </td>
                                    <td class="right" style="width: 80px;">
                                        @Html.LabelFor(model => model.NumeroDocumento)
                                    </td>
                                    <td style="width: 80px;">
                                        @Html.TextBoxFor(model => model.NumeroDocumento, new { @readonly = true, @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.NumeroDocumento)
                                    </td>
                                    <td class="right" style="width: 80px;">
                                        @Html.LabelFor(model => model.FechaDocumento)
                                    </td>
                                    <td style="width: 80px;">
                                        @Html.TextBoxFor(model => model.FechaDocumento, new { @Value = Model.FechaDocumento.ToString("dd/MM/yyyy"), @class = "fecha", @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.FechaDocumento)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="right">
                                        @Html.LabelFor(model => model.Proveedor)
                                        @Html.HiddenFor(model => model.IdPersona)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Proveedor, new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.Proveedor)
                                    </td>
                                    <td class="right">
                                        @Html.LabelFor(model => model.RazonSocial)
                                    </td>
                                    <td colspan="5">
                                        @Html.TextBoxFor(model => model.RazonSocial, new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.RazonSocial)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="right">
                                        @Html.LabelFor(model => model.IdAlmacen)
                                    </td>
                                    <td colspan="3">
                                         @Html.DropDownListFor(model => model.IdAlmacen, new SelectList(Model.Almacenes, "IdAlmacen", "Nombre", Model.IdAlmacen), new { @style = "width :100%" })
                                         @Html.ValidationMessageFor(model => model.IdAlmacen)
                                    </td>
                                    <td class="right">
                                        @Html.LabelFor(model => model.CondicionPago)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.CondicionPago, new SelectList(Model.CondicionesPago, "Id", "Nombre", Model.CondicionPago), new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.CondicionPago)
                                    </td>
                                    <td class="right">
                                        @Html.LabelFor(model => model.IdMoneda)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.IdMoneda, new SelectList(Model.Monedas, "IdMoneda", "Nombre", Model.IdMoneda), new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.IdMoneda)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="right">
                                        @Html.LabelFor(model => model.FechaEntrega)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.FechaEntrega, new { @Value = Model.FechaEntrega.HasValue ? Model.FechaEntrega.Value.ToString("dd/MM/yyyy") : "", @class = "fecha", @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.FechaEntrega)
                                    </td>
                                    
                                        @*Tipo de cambio.*@
                                    
                                    <td class="right">
                                        @Html.LabelFor(model => model.EstadoOrden)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.EstadoOrden, new { @readonly = true, @style = "width: 100%" })
                                    </td>
                                    
                                    <td class="right" style="width: 100px;">
                                        @Html.LabelFor(model => model.EsLocal)
                                    </td>
                                    <td style="width: 80px;">
                                        @Html.DropDownListFor(model => model.EsLocal, new SelectList(Model.TiposCompra, "Id", "Nombre", Model.EsLocal), new { @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.EsLocal)
                                    </td>
                                
                                </tr>
                                <tr>
                                    <td class="right" valign="top">
                                        @Html.LabelFor(model => model.Glosa)
                                    </td>
                                    <td colspan="7">
                                        @Html.TextAreaFor(model => model.Glosa, new { @class = "text-area", @style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.Glosa)
                                    </td>

                                        @Html.HiddenFor(model => model.SerieDocumento)
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        <fieldset class="fieldset-with-legend border-round" style="margin: 10px;">
                            <legend class="border-shadow">Detalle de Orden de Compra : </legend>
                            <table cellpadding="5" cellspacing="5" style="width: 98%; margin: 15px;">
                                <tr>
                                    <td>
                                        <input id="hidIdentificadorDetalle" type="hidden" /><br />
                                        <div id="listadoDetalle">
                                            <table id="tablaDetalle">
                                            </table>
                                            <div id="barraDetalle">
                                            </div>
                                        </div>
                                        <div id="dialog-delete" style="display: none;">
                                            Esta seguro de quitar el registro seleccionado?
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="tablaImpuestos" align="right" style="margin: 10px;">
                            @for (var i = 0; i < Model.TransaccionImpuesto.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(model => Model.TransaccionImpuesto[i].IdImpuesto)
                                        @Html.HiddenFor(model => Model.TransaccionImpuesto[i].Secuencia)
                                    </td>
                                    <td class="right">
                                        <label for="@Model.TransaccionImpuesto[i].Valor">@Model.TransaccionImpuesto[i].NombreImpuesto
                                            @if (Model.TransaccionImpuesto[i].Tasa != 0)
                                            {
                                                <span>@string.Format(" ({0} %)", Model.TransaccionImpuesto[i].Tasa)</span>
                                            }
                                            :
                                        </label>
                                    </td>
                                    <td>
                                        @if (Model.TransaccionImpuesto[i].EsEditable)
                                        {
                                            @Html.TextBoxFor(model => Model.TransaccionImpuesto[i].Valor, new { @style = "width: 80px;", @class = "esEditable" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => Model.TransaccionImpuesto[i].Valor, new { @style = "width: 80px;", @class = "noEsEditable" })
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.IdTransaccion)
                        @Html.HiddenFor(model => model.FechaCreacion)
                        @Html.HiddenFor(model => model.UsuarioCreacion)
                        @Html.HiddenFor(model => model.FechaModificacion)
                        @Html.HiddenFor(model => model.UsuarioModificacion)
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <br />
                        <input type="button" value="Excel" id="btnExcel" class="buttonConstellation" />
                        <input type="submit" value="Guardar" id="btnRegistrar" class="buttonConstellation" />
                        <input type="button" value="Regresar" id="btnCancel" onclick="Cancelar()" class="buttonConstellation" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
<script type="text/javascript">

    var resetFrm = false;

    $(document).ready(function () {

        ListarDetalle();

        $('.ui-pg-input').css('width', '50px');
        $('.ui-pg-selbox').css('width', '50px');

        $('#dialog-alert').dialog("close");

        $('.fecha').datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy' });

        $('.noEsEditable').attr('disabled', 'disabled');

        $('#IdTipoDocumento').change(function () {
            CargarSeriesDocumento();
        });
        CargarSeriesDocumento();
        $('#IdSerieDocumento').val('@Model.IdSerieDocumento');

        $('#IdSerieDocumento').change(function () {
            CargarNumeroDocumento();
        });
        CargarNumeroDocumento();
        if ('@Model.NumeroDocumento' != '') {
            $('#NumeroDocumento').val('@Model.NumeroDocumento');
        }

        $("#Proveedor").autocomplete({
            source: '@Url.Action("BuscarProveedorRuc", "Consultas", new { area = "" })' + '?funcion=3',
            minLength: 4,
            select: function (event, ui) {
                if (ui.item) {
                    CargarProveedor(ui.item);
                }
            }
        });

        $('#btnExcel').bind("click", function (e) {

            var url = '@Url.Action("ExportasCompraExcel", "Reporte", new {area = "Logistica"})' + '?id=' + $('#IdTransaccion').val() + '&formato=EXCEL';
            window.location.href = url;
        });
        
        $("#RazonSocial").autocomplete({
            source: '@Url.Action("BuscarProveedorRs", "Consultas", new { area = "" })' + '?funcion=3',
            minLength: 4,
            select: function (event, ui) {
                if (ui.item) {
                    CargarProveedor(ui.item);
                }
            }
        });

        $('.esEditable').change(function () {
            CalcularMontos();
        });

        $(".msgModel .tips").hide();
        $(".msgModel .merror, .msgModel .mexito, .msgModel .loading").css({ "border-top": "none" });
        $("#frmModel .merror").css({ "border-top": "none", "border-left": "none", "border-right": "none" });

        $('#btnRegistrar').bind("click", function (e) {

            var sd = $("#IdSerieDocumento option:selected").text();
            $("#SerieDocumento").val(sd);

            if (resetFrm)
                $(".msgModel .tips").hide();

            if ($("#frmModel").validate().form()) {
                InicializarMsg();

                $('.noEsEditable').removeAttr('disabled');
                $.post($("#frmModel").attr("action"), $("#frmModel").serialize(), function (response) {
                    if (response.Success) {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .mexito").html(response.Message);
                            JOERP.ShowElement(".msgModel .mexito");
                            resetFrm = true;
                            $('#btnRegistrar').hide();
                        });
                    } else {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .merror").html(response.Message);
                            JOERP.ShowElement(".msgModel .merror");
                        });
                        resetFrm = true;
                    }
                });
                $('.noEsEditable').attr('disabled', 'disabled');
            }
            e.preventDefault();
        });

        $('#btnCancel').bind("click", function (e) {
            JOERP.RegresarFuncion('tabla', 'listado', 'informacion');
            e.preventDefault();
        });
    });

    function ListarDetalle() {

        var colNames = ['ID', 'Codigo', 'Producto', 'Presentación', 'Precio', 'Cantidad', 'Descuento', 'IGV', 'Sub-Total'];
        var colModels = [
            { name: 'IdMovimientoProducto', hidden: true, index: 'IdMovimientoProducto', align: 'center', width: 10, sortable: false },
            { name: 'Codigo', index: 'Codigo', align: 'center', width: 30, sortable: false },
            { name: 'NombreProducto', index: 'Nombre', align: 'center', width: 180, sortable: false },
            { name: 'PresentacionNombre', index: 'PresentacionNombre', align: 'center', width: 50, sortable: false },
            { name: 'PrecioBase', index: 'PrecioBase', align: 'center', width: 40, sortable: false },
            { name: 'Cantidad', index: 'Cantidad', align: 'center', width: 40, sortable: false },
            { name: 'MontoDescuento', index: 'MontoDescuento', align: 'center', width: 40, sortable: false },
            { name: 'IGV', index: 'IGV', align: 'center', width: 40, sortable: false },
            { name: 'SubTotal', index: 'SubTotal', align: 'center', width: 50, sortable: false }
        ];

        var opciones = { nuevo: true, editar: true, eliminar: true, search: false, rowNumber: 100, rowList: [100] };
        var url = '@Url.Action("ListarDetalle", "OrdenCompra")';

        JOERP.GrillaCompleta('tablaDetalle', 'barraDetalle', 'hidIdentificadorDetalle', 'auto', 950, 'Detalle de Orden de Compra.', url, 'id',
            colNames, colModels, 'IdMovimientoProducto', opciones, NuevoDetalle, EditarDetalle, EliminarDetalle);

        $('#informacionDetalle').dialog({
            width: 'auto',
            resizable: false,
            modal: true,
            autoOpen: false,
            open: function (type, data) { $(this).parent().appendTo("frmModel"); },
            close: function () { }
        });
    }

    function NuevoDetalle() {
        if ($('#EsLocal').val() != 0) {
           var url = '@Url.Action("CrearDetalle", "OrdenCompra", new { area = "Logistica" })';
            JOERP.MostrarInformacionPopup(url, 'tablaDetalle', 'informacionDetalle');
        }
        else {
            alert('Debe seleccionar el Tipo de Compra primero.');
        }
    }

    function EditarDetalle(rowkey) {
        if ($('#EsLocal').val() != 0) {
            var url = '@Url.Action("ModificarDetalle", "OrdenCompra")' + '/' + rowkey;
            JOERP.MostrarInformacionPopup(url, 'tablaDetalle', 'informacionDetalle');
        }
        else {
            alert('Debe seleccionar el Tipo de Compra primero.');
        }
    }

    function EliminarDetalle(rowkey) {
        var url = '@Url.Action("EliminarDetalle", "OrdenCompra")';
        var parametros = { id: rowkey };
        var resultado = JOERP.Ajax(url, parametros, false);

        if (resultado.Success) {
            $('#refresh_tablaDetalle').trigger('click');
            $('#informacionDetalle').dialog("close");
            $("#informacionDetalle").html('');
        } else {
            alert(resultado.Message);
        }

        $('#dialog-delete').dialog("close");
    }

    function InicializarMsg() {
        if ($(".msgModel .merror").is(":visible")) {
            $(".msgModel .merror").slideUp(200, function () {
                JOERP.ShowElement(".msgModel .loading");
            });
        } else
            JOERP.ShowElement(".msgModel .loading");
    }

    function Cancelar() {

        var sgrid = $("#tabla")[0];
        sgrid.clearToolbar();
        $('#tabla').trigger('reloadGrid');
        $('#listado').show();
        $('#informacion').hide();
    }

    function CargarSeriesDocumento() {
        JOERP.LoadDropDownListItems('IdSerieDocumento', '@Url.Action("CargarSerieDocumento", "Consultas", new { area = "" })', { tipoDocumento: $("#IdTipoDocumento").val() });
    }

    function CargarNumeroDocumento() {
        var url = '@Url.Action("CargarNumeroDocumento", "Consultas", new { area = "" })';
        var parametros = { idSerieDocumento: $('#IdSerieDocumento').val() };
        var numeroDocumento = JOERP.Ajax(url, parametros, false);

        $("#NumeroDocumento").val(numeroDocumento);
    }

    function CargarAlmacenes() {
        JOERP.LoadDropDownListItems('IdAlmacen', '@Url.Action("CargarAlmacenes", "Consultas", new { area = "" })', { idSucursal: $("#IdSucursal").val() });
    }

    function CargarProveedor(item) {
        var idPersona = item.id;
        var documento = item.ruc;
        var razonSocial = item.razonSocial;

        $('#IdPersona').val(idPersona);
        $('#Proveedor').val(documento);
        $('#RazonSocial').val(razonSocial);
    }

    function SumarDetalle(indiceColumna) {

        var monto = 0.00;

        $("#tablaDetalle tbody tr").each(function (f) {

            $(this).find('td').each(function (c) {

                if (c == indiceColumna && $(this).text() != '') {
                    var valor = parseFloat($(this).text());
                    monto = parseFloat(monto) + parseFloat(valor);
                }
            });
        });
        return monto;
    }

    function ObtenerValorImpuesto(idImpuestoSolicitado) {

        var valor = 0.00;

        $("#tablaImpuestos tr").each(function (f) {

            var idImpuesto = 0;
            
            $(this).find('td').each(function (c) {

                if (c == 0) {

                    var hidden = $(this).find('input');
                    if ($(hidden).val() != undefined) {
                        idImpuesto = $(hidden).val();
                    }
                }
                if (c == 2) {
                    if (idImpuestoSolicitado == idImpuesto) {
                        var txt = $(this).find('input');
                        if ($(txt).val() != undefined) {
                            valor = parseFloat($(txt).val());
                        }
                    }
                }
            });
        });
        return valor;
    }
    
    function CalcularMontos() {

        $("#tablaImpuestos tr").each(function (f) {

            var valor = 0.00;

            $(this).find('td').each(function (c) {
                
                if (c == 0) {

                    var hidden = $(this).find('input');
                    if ($(hidden).val() != undefined) {

                        var idImpuesto = $(hidden).val();
                        switch (idImpuesto) {
                                case '1': //IGV
                                valor = SumarDetalle(8);
                                break;
                            case '2': //AFECTO
                                break;
                            case '3': //INAFECTO
                                break;
                            case '9': //PARCIAL
                                valor = SumarDetalle(9);
                                break;
                            case '4': //TOTAL
                                valor = SumarDetalle(9) + ObtenerValorImpuesto(7) - ObtenerValorImpuesto(8);
                                break;
                            default:
                                break;
                        }
                    }
                }
                if (c == 2) {

                    var txt = $(this).find('input');
                    if ($(txt).val() != undefined) {
                        var esEditable = $(txt).attr('disabled') != 'disabled';
                        if (!esEditable) {
                            $(txt).val(valor);
                        }
                    }
                }
            });
        });
    }
    
</script>
