@using JOERP.WebSite.Core.Extensiones
@model JOERP.Business.Entity.DatoEstructura
@{
    ViewBag.Title = "Información de la estructura del producto";
}
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="msgModel">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
    </div>
    <div class="tips mexito">
    </div>
</div>
<div class="MhiosysForm">
    @using (Html.BeginForm(ViewData["Accion"].ToString(), "EstructuraProducto", new { area = "Logistica" }, FormMethod.Post, new { id = "frmModel" }))
    {
        ViewContext.FormContext.ValidationSummaryId = "valSumModel";
        Html.ValidationSummaryJQuery("Errores Encontrados", new Dictionary<string, object> { { "id", "valSumModel" }, { "class", "merror" } });

        <fieldset class="fieldset-with-legend border-round">
            <legend class="border-shadow">Información del Dato de la Estructura : </legend>
            <table border="0" cellpadding="0" cellspacing="0" class="tablelayout">
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Nombre)                        
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </td>
                </tr>
                
                <tr>

                    <td class="right">
                        @Html.LabelFor(model => model.Descripcion)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Descripcion)
                    </td>
                </tr>

                @if (Model.IdEstructuraProducto == 2)
                {
                    <tr>
                        <td class="right">
                            <label>
                                Línea :
                            </label>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.IdParent, new SelectList(Model.DatosEstructuras, "IdDatoEstructura", "Nombre", Model.IdParent))
                            @Html.ValidationMessageFor(model => model.IdParent)
                        </td>
                    </tr>
                }
                @if (Model.IdEstructuraProducto == 3)
                {
                    <tr>
                        <td class="right">
                            <label>
                                Línea :
                            </label>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.IdLinea, new SelectList(Model.DatosEstructuras, "IdDatoEstructura", "Nombre", Model.IdLinea))
                            @Html.ValidationMessageFor(model => model.IdLinea)
                        </td>
                    </tr>
                    <tr>
                        <td class="right">
                            <label>
                                Sub Línea :</label>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.IdParent, new List<SelectListItem>())
                            @Html.ValidationMessageFor(model => model.IdParent)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.IdEstructuraProducto)
                        @Html.HiddenFor(model => model.IdDatoEstructura)
                        @Html.HiddenFor(model => model.IdParent)
                        @Html.HiddenFor(model => model.FechaModificacion)
                        @Html.HiddenFor(model => model.UsuarioModificacion)
                        @Html.HiddenFor(model => model.FechaCreacion)
                        @Html.HiddenFor(model => model.UsuarioCreacion)
                    </td>
                    <td colspan="3" style="text-align: center">
                        <br />
                        <input type="submit" value="Guardar" id="btnRegistrar" class="buttonConstellation" />
                        <input type="reset" value="Limpiar" id="btnReset" class="buttonConstellation" />
                        <input type="button" value="Regresar" id="btnCancel" onclick="Cancelar()" class="buttonConstellation" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
<script type="text/javascript">
    var resetFrm = false;

    $(document).ready(function () {

        $(".msgModel .tips").hide();
        $(".msgModel .merror, .msgModel .mexito, .msgModel .loading").css({ "border-top": "none" });
        $("#frmModel .merror").css({ "border-top": "none", "border-left": "none", "border-right": "none" });

        if (@Model.IdEstructuraProducto == '3') {

            $("#IdLinea").change(function() {
                JOERP.LoadDropDownListItems('IdParent', '@Url.Action("ListarSubLineas", "EstructuraProducto", new { area = "Logistica" })', { idLinea: $("#IdLinea").val() });
            });
            JOERP.LoadDropDownListItems('IdParent', '@Url.Action("ListarSubLineas", "EstructuraProducto", new { area = "Logistica" })', { idLinea: $("#IdLinea").val() });
            $('#IdParent').val('@Model.IdParent');
        }

        $('#btnRegistrar').bind("click", function (e) {

            if (resetFrm)
                $(".msgModel .tips").hide();

            if ($("#frmModel").validate().form()) {
                InicializarMsg();
                $.post($("#frmModel").attr("action"), $("#frmModel").serialize(), function (response) {
                    if (response.Success) {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .mexito").html(response.Message);
                            JOERP.ShowElement(".msgModel .mexito");
                            resetFrm = true;
                            $('#btnRegistrar').hide("slow");
                            $('#btnReset').hide("slow");
                        });
                    } else {
                        $(".msgModel .loading").slideUp(200, function () {
                            $(".msgModel .merror").html(response.Message);
                            JOERP.ShowElement(".msgModel .merror");
                        });
                        resetFrm = true;
                    }
                });
            }
            e.preventDefault();
        });

        $("#btnCancel").click(function () {
            $.ajax({
                url: '@Url.Action("Cancelar", "EstructuraProducto", new { area = "Administracion" })'
            });

            $('#detalleTree').dialog("close");
            var tree = jQuery.jstree._reference("#mainTree");
            tree.refresh();
        });
    });

    function InicializarMsg() {
        if ($(".msgModel .merror").is(":visible")) {
            $(".msgModel .merror").slideUp(200, function () {
                JOERP.ShowElement(".msgModel .loading");
            });
        } else
            JOERP.ShowElement(".msgModel .loading");
    }

    function Cancelar() {

        var sgrid = $("#tabla")[0];
        sgrid.clearToolbar();
        $('#tabla').trigger('reloadGrid');
        $('#listado').show();
        $('#informacion').hide();
    }

</script>