@{
	ViewBag.Title = "Reporte Inventario Fisico";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<table style="width: 1100px; padding: 10px; height: 90%; min-height: 400px;" class="MhiosysForm">
	<tr>
		<td>
			<fieldset class="fieldset-with-legend border-round">
				<legend class="border-shadow">Filtros de búsqueda : </legend>
				<table cellspacing="10" style="margin: 20px;">
					<tr>
						<td>
							Linea :
						</td>
						<td style="width: 30px;">
						</td>
						<td>
							Sub Linea :
						</td>
						<td style="width: 30px;">
						</td>
						<td>
							Categoria :
						</td>
					</tr>
					<tr>
						<td>
							<select id="cboLinea">
							</select>
						</td>
						<td>
						</td>
						<td>
							<select id="cboSubLinea">
							</select>
						</td>
						<td>
						</td>
						<td>
							<select id="cboCategoria">
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Codigo :
						</td>
						<td>
						</td>
						<td>
							Producto :
						</td>
						<td style="width: 30px;">
						</td>
						<td>
							 Fecha Vencimiento :
						</td>
					</tr>
					<tr>
						<td>
							<input id="txtCodigo" type="text" />
						</td>
						<td>
						</td>
						<td>
							<input id="txtProducto" type="text" />
						</td>
						<td>
						</td>
						<td>
							<input id="txtFechaVencimiento" type="text" />
						</td>
					</tr>
					<tr>
						<td>
							Sucursal :
						</td>
						<td>
						</td>
                        <td>
                            Almacen :
                        </td>
                        <td></td>
                        <td>
                            Corte :
                        </td>
					</tr>
					<tr>
						<td>
							<select id="cboSucursal" />
						</td>
						<td>
						</td>
                        <td>
                            <select id="cboAlmacen" />
                        </td>
                        <td></td>
                        <td>
							<input id="txtFechaCorte" type="text" />
                            
                        </td>
                    </tr>
					<tr style="height: 10px;">
					</tr>
					<tr>
						<td colspan="5" style="text-align: center">
							<input type="button" value="Buscar" id="btnBuscar" class="buttonConstellation" />
							<input type="button" value="Exportar Inventario" id="btnExportar" class="buttonConstellation" />
							<input type="button" value="Exportar Movimientos" id="btnExportarM" class="buttonConstellation" />
							<input type="button" value="Exportar Costo Inventario" id="btnExportarC" class="buttonConstellation" />
							<input type="button" value="Exportar Costo Salidas" id="btnExportarS" class="buttonConstellation" />


						</td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td>
		<br/>
			<table id="tablaReporteCabecera">
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<table id="tablaReporteDetalle">
			</table>
		</td>
	</tr>
</table>
<script type='text/javascript'>

    $(function () {

        $('#txtFechaCorte').datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy' });

        $('#txtFechaVencimiento').datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy' });

        $("#txtCodigo").autocomplete({
            source: '@Url.Action("BuscarProductoAutocompletarByCodigo", "Consultas", new { area = "" })',
            minLength: 2,
            select: function (event, ui) {
                if (ui.item) {
                    CargarProducto(ui.item);
                }
            }
        });

        $("#txtProducto").autocomplete({
            source: '@Url.Action("BuscarProductoAutocompletar", "Consultas", new { area = "" })',
            minLength: 2,
            select: function (event, ui) {
                if (ui.item) {
                    CargarProducto(ui.item);
                }
            }
        });

        CrearGrillaCabecera("#tablaReporteCabecera");
        CrearGrillaDetalle("#tablaReporteDetalle");

        JOERP.LoadDropDownListItems('cboLinea', '@Url.Action("ListarLineas", "Producto")', null, null);

        $("#cboLinea").change(function () {
            JOERP.LoadDropDownListItems('cboSubLinea', '@Url.Action("ListarSubLineas", "Producto", new { area = "Logistica" })', { idLinea: $("#cboLinea").val() });
        });
        JOERP.LoadDropDownListItems('cboSubLinea', '@Url.Action("ListarSubLineas", "Producto", new { area = "Logistica" })', { idLinea: $("#cboLinea").val() });

        $("#cboSubLinea").change(function () {
            JOERP.LoadDropDownListItems('cboCategoria', '@Url.Action("ListarCategorias", "Producto", new { area = "Logistica" })', { subLinea: $("#cboSubLinea").val() });
        });
        JOERP.LoadDropDownListItems('cboCategoria', '@Url.Action("ListarCategorias", "Producto", new { area = "Logistica" })', { subLinea: $("#cboSubLinea").val(), idDatoEstructura: $("#cboCategoria").val() });

        JOERP.LoadDropDownListItems('cboSucursal', ' @Url.Action("ListarSucursales", "Sucursal", new { area = "Administracion" })');

        $("#cboSucursal").change(function () {
            JOERP.LoadDropDownListItems('cboAlmacen', '@Url.Action("ListarAlmacenes", "Almacen", new { area = "Logistica" })', { idSucursal: $("#cboSucursal").val() });
        });
        JOERP.LoadDropDownListItems('cboAlmacen', '@Url.Action("ListarAlmacenes", "Almacen", new { area = "Logistica" })', { idSucursal: $("#cboSucursal").val() });

        $('#btnBuscar').bind("click", function (e) {
            ListarReporte();
        });

        $('#btnExportar').bind("click", function (e) {
            var url = '';
            if ($('#txtFechaCorte').val() != '') {
                url = '@Url.Action("ExportarInventarioFisicoCorte", "Reporte")' + '?formato=EXCEL' +
                    '&linea=' + $('#cboLinea').val() +
                    '&sublinea=' + $('#cboSubLinea').val() +
                    '&categoria=' + $('#cboCategoria').val() +
                    '&codigoProducto=' + $('#txtCodigo').val() +
                    '&almacen=' + $('#cboAlmacen').val() +
                    '&fechaCorte=' + $('#txtFechaCorte').val();
            } else {
                url = '@Url.Action("ExportarInventarioFisico", "Reporte")' + '?formato=EXCEL' +
                    '&linea=' + $('#cboLinea').val() +
                    '&sublinea=' + $('#cboSubLinea').val() +
                    '&categoria=' + $('#cboCategoria').val() +
                    '&codigoProducto=' + $('#txtCodigo').val() +
                    '&sucursal=' + $('#cboSucursal').val() +
                    '&almacen=' + $('#cboAlmacen').val() +
                    '&fechaVencimiento=' + $('#txtFechaVencimiento').val() +
                    '&idPresentacion=0';
            }
            window.location.href = url;
        });

        $('#btnExportarM').bind("click", function (e) {
            var url = '@Url.Action("ExportarMovimientoProductos", "Reporte")' + '?formato=EXCEL'+
            '&codigoProducto=' + $('#txtCodigo').val() +
            '&sucursal=' + $('#cboSucursal').val() +
            '&almacen=' + $('#cboAlmacen').val();
            window.location.href = url;
        });

        $('#btnExportarC').bind("click", function (e) {
            var url = '@Url.Action("ExportarInventarioCosto", "Reporte")' + '?formato=EXCEL';
            window.location.href = url;
        });

        $('#btnExportarS').bind("click", function (e) {
            var url = '@Url.Action("ExportarCostoSalidas", "Reporte")' + '?formato=EXCEL';
            window.location.href = url;
        });
    });

	function ListarReporte() {

		$("#tablaReporteCabecera").jqGrid("clearGridData");

		var url = '@Url.Action("InventarioFisicoCabecera", "Reporte")';
		var parametros = {
			linea: $('#cboLinea').val(),
			sublinea: $('#cboSubLinea').val(),
			categoria: $('#cboCategoria').val(),
			codigoProducto: $('#txtCodigo').val(),
			sucursal: $('#cboSucursal').val(),
			almacen: $('#cboAlmacen').val(),
			fechaVencimiento: $('#txtFechaVencimiento').val(),
			idPresentacion : 0
		};

		var resultado = JOERP.Ajax(url, parametros, false);

		if (resultado.Success) {

			$.each(resultado.Data, function (index, campo) {
				jQuery("#tablaReporteCabecera").jqGrid('addRowData', campo.IdPresentacion, campo);
			});

		} else {
			alert(resultado.Message);
		}
	}

	function ListarReporteDetalle(idPresentacion) {
		$("#tablaReporteDetalle").jqGrid("clearGridData");
	   
		var url = '@Url.Action("InventarioFisicoDetalle", "Reporte")';
		var parametros = {
			linea: $('#cboLinea').val(),
			sublinea: $('#cboSubLinea').val(),
			categoria: $('#cboCategoria').val(),
			codigoProducto: $('#txtCodigo').val(),
			sucursal: $('#cboSucursal').val(),
			almacen: $('#cboAlmacen').val(),
			fechaVencimiento: $('#txtFechaVencimiento').val(),
			idPresentacion: idPresentacion
		};

		var resultado = JOERP.Ajax(url, parametros, false);

		if (resultado.Success) {

			$.each(resultado.Data, function (index, campo) {
				jQuery("#tablaReporteDetalle").jqGrid('addRowData', index, campo);
			});

		} else {
			alert(resultado.Message);
		}
	}
	
	function CrearGrillaCabecera(tabla) {
		var columnas = ['IdPresentacion','IdProducto', 'Codigo', 'Nombre', 'Presentación', 'Equivalencia', 'Stock'];
		var modelo = [
			{ name: 'IdPresentacion', index: 'IdPresentacion', hidden: true, align: 'center', key : true },
			{ name: 'IdProducto', index: 'IdProducto', hidden: true, align: 'center'},
			{ name: 'Codigo', index: 'Codigo', align: 'center', width: 100 },
			{ name: 'Producto', index: 'Producto', align: 'left', width: 280 },
			{ name: 'Presentacion', index: 'Presentacion', align: 'left', width: 80 },
			{ name: 'Equivalencia', index: 'Equivalencia', align: 'left', width: 80 },
			{ name: 'Stock', index: 'Stock', align: 'left', width: 80 },

	];
			tableToGrid(tabla, {
				colNames: columnas,
				colModel: modelo,
				width: 1100,
				height: 'auto',
				datatype: 'local',
				cellsubmit: "clientArray",
				rowNum: 2000,
				pgbuttons: false,
				viewrecords: true,
				hidegrid: false,
				onSelectRow: function () {
					var rowKey = $(tabla).getGridParam('selrow');
					ListarReporteDetalle(rowKey);
				}
			});
		$(tabla).trigger('reloadGrid');
	}

	function CrearGrillaDetalle(tabla) {
		var columnas = ['ID', 'Presentacion', 'Lote', 'Serie', 'Stock', 'Fecha Vencimiento'];
		var modelo = [
			{ name: 'IdPresentacion', index: 'IdPresentacion', hidden: true, align: 'center' },
			{ name: 'Presentacion', index: 'Presentacion', align: 'left', width: 100 },
			{ name: 'Lote', index: 'Lote', align: 'left', width: 100 },
			{ name: 'Serie', index: 'Serie', align: 'left', width: 100 },
			{ name: 'Stock', index: 'Stock', align: 'left', width: 100 },
			{ name: 'FechaVencimiento', index: 'FechaVencimiento', align: 'left', width: 100 },
		];
		tableToGrid(tabla, {
			colNames: columnas,
			colModel: modelo,
			width: 1200,
			height: 'auto',
			datatype: 'local',
			cellsubmit: "clientArray",
			rowNum: 2000,
			pgbuttons: false,
			viewrecords: true,
			viewGrid: true,
		   
			hidegrid: false
		});
		$(tabla).trigger('reloadGrid');
	}

	function CargarProducto(item) {
		
		var codigo = item.codigo;
		var nombre = item.nombre;

		$('#txtProducto').val(nombre);
		$('#txtCodigo').val(codigo);
	}

</script>
